@font-face {
    font-family: 'Jujutsu Kaisen';
    src: url('Jujutsu Kaisen.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Jujutsu Kaisen', sans-serif;
}
