@font-face {
    font-family: 'SF-Pro-Text-Medium';
    src: url('SF-Pro-Text-Medium.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF-Pro-Text-Medium', sans-serif;
}
