@font-face {
    font-family: 'Altone Trial-Regular';
    src: url('Altone Trial-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Altone Trial-Regular', sans-serif;
}
